/* src/assets/css/class.scss */

/*
  클래스 스타일을 정의한다.
*/

/* 변수 파일 불러오기 */
@use './variables.scss' as *;


.btn {
  padding: 0.5rem 0.25rem;
  border-radius: 0.25rem;
  text-align: center;
}

.w-100 {
  width: 100%;
}

.btn-secondary {
  background-color: $color-lightgrey;
  color: black;
}

.btn-primary {
  background-color: $color-blue-60;
  color: white;
}